{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

  {% include "snipcart.html" %}

    <header class="text-center">
      <div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Artsy Angler</h1>
      </div>
    </div>
  </div>
</div>
    </header>

    <div class="products">
      <div class="container">
        <div class="row is-flex text-center">
              {% for product in self.get_children.specific %}
          <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-md-3">
            <div class="well box">
                {% include "product_partial.html" %}
            </div>
          </div>
                {% endfor %} 
          </div>
        </div>
      </div>

{% endblock %}