{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

  {% include "snipcart.html" %}

  <div class="site-title">{{ self.title }}</div>

  <div class="products">
    <div class="container">
      <div class="row">
            {% for product in self.get_children.specific %}
        <div class="col-md-3">
                {% include "product_partial.html" %}
          </div>
              {% endfor %} 
        </div>
      </div>
    </div>

{% endblock %}