<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>About - Artsy Angler</title>
	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	 crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/css/theme.css">
	<script src="https://use.fontawesome.com/07d6cb1858.js"></script>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!--  Navbar from ./navigation-partial.html  -->
{% include "navigation-partial.html" %}

<!-- Page Sample Section -->
<section id="page-sample">
	<div class="container">
		<div class="row">

			<div class="col-xs-12 col-md-6">
				<a href="https://placeholder.com"><img src="http://via.placeholder.com/350x150"></a>
			</div>


			<div class="col-xs-12 col-md-6">
				<h2 class="text-center">Artsy Angler</h2>
				<h3 class="text-center">JEREMY NORDIN-BERGHUIS</h3>
				<div class=" bio col-lg-8 col-lg-offset-2">
					<p>&#9; Jeremy Nordin-Berghuis, “The Artsy Angler” grew up in small town northern Wisconsin. From an early age, Jeremy
						developed an interest and appreciation for art. Surrounded by talented artisans and craftsman within his family, Jeremy
						was introduced to working with wood, metals, fibers, and painting. Driven to understanding and developing his own skills,
						he actively pursued art, predominantly ceramics, throughout high school and on into adulthood. This led to jobs in
						clay and print making studios as well as machine shops. In addition to concentrating in art, Jeremy has a deep caring
						and passion for working with and understanding people. In 2009 Jeremy began working at a summer camp. His interest
						in working with kids there helped in motivating him towards going back to school. In 2011 Jeremy attended the University
						of Wisconsin River Falls where he earned his B.S.A. in Art Education with an emphasis in ceramics. Today, Jeremy lives
						and works in Boise Idaho. It is there that his love and passion for ceramics has developed into a career in making.
						His work is designed and meant to be held, used, and enjoyed by others around him. </p>

				</div>
			</div>
		</div>
	</div>
</section>


<style>
	img{
		margin:auto;
	}
</style>

<!-- Footer -->
{% include "footer-partial.html" %}