<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>About - Artsy Angler</title>
<!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../static/css/theme.css">
<script src="https://use.fontawesome.com/07d6cb1858.js"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
        <!--  Navbar from ./navigation-partial.html  -->
        {% include "navigation-partial.html" %}

<!-- Intro Header -->
<header class="intro">
<div class="intro-body">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="brand-heading">Artsy Angler</h1>
				<p class="intro-text">
						Jeremy Nordin-Berghuis
				</p>
				<a href="#page-sample" class="btn btn-circle page-scroll">
				<i class="fa fa-angle-double-down animated"></i>
				</a>
			</div>
		</div>
	</div>
</div>
</header>
<!-- Page Sample Section -->
<section id="page-sample">
<div class="container content-section text-left">
	<div class="row">
		<h2 class="text-center">JEREMY NORDIN-BERGHUIS</h2>
		<div class="col-lg-8 col-lg-offset-2">
			<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec commodo elit, sit amet dictum lorem. Maecenas vel auctor orci. Sed vitae tortor risus. Sed vulputate pulvinar massa at laoreet. Integer pulvinar lacus nibh, et eleifend eros gravida vitae. Nunc condimentum nisi nec magna fringilla, ut maximus enim viverra. Praesent porta, purus at facilisis bibendum, nunc orci condimentum magna, eget aliquet ipsum elit ac nibh. Suspendisse lacinia fringilla pharetra. Aenean id nunc convallis, scelerisque dolor ac, malesuada sapien. Duis sodales sed augue eu suscipit. Nulla egestas, ligula vitae porta vehicula, lorem justo semper lacus, ut placerat nisi lorem eget elit.
</p>
<p>Donec sit amet porttitor nisl, in fermentum dolor. Nunc porta auctor ornare. Morbi nec eros lobortis, sodales libero sed, bibendum urna. Donec tincidunt ipsum vehicula, facilisis dui nec, vulputate metus. Quisque nec hendrerit lorem. Nulla at dictum tortor. Integer sit amet ligula eros. Duis convallis tellus a augue pretium, eget semper eros fringilla. Quisque nisi arcu, egestas eu congue sit amet, vulputate eget velit. Proin euismod egestas ante, malesuada convallis dui lacinia vitae. Sed dui nulla, efficitur vitae rhoncus ac, tincidunt et libero. Maecenas fringilla scelerisque condimentum. Cras facilisis orci vel molestie auctor. Fusce nisl sapien, hendrerit vel vestibulum id, aliquet in dolor. Cras interdum lacinia mauris viverra hendrerit. Fusce ac pellentesque ex.
</p>
<p>
Fusce fermentum eros a sodales iaculis. Mauris et justo nunc. Donec ut elementum erat. Nulla vel leo ante. Mauris id arcu odio. Integer dignissim turpis non gravida mollis. Morbi a finibus nulla, eu vehicula purus. Vestibulum tortor ipsum, consectetur sed nibh ac, suscipit viverra nulla. Aliquam non mattis tortor. Pellentesque tempus fringilla egestas. Fusce sed ultricies justo, eget feugiat lacus. Duis sollicitudin ligula at tellus consequat, in auctor sapien consectetur. Maecenas vel ex ut ante suscipit scelerisque nec eget risus.</p>
</p>		</div>
	</div>
</div>
</section>
<!-- Footer -->
{% include "footer-partial.html" %}
