<footer>
	<div class="container text-center">
		<div class="row">
			<div class="col-xs-4">
				<a href="https://www.facebook.com/arstyangler/">
				<i class="fa fa-facebook-official" aria-hidden="true"></i>
				</a>
			</div>
			<div class="col-xs-4">
				<a href="https://www.instagram.com/artsy_angler/">
				<i class="fa fa-instagram" aria-hidden="true"></i>
				</a>
			</div>
			<div class="col-xs-4">
				<a href="mailto:nordinberghuisj@gmail.com?Subject=Hello%20From%20Your%20Website" target="_top">
				<i class="fa fa-envelope-o" aria-hidden="true"></i>
				</a>

			</div>
		</div>
		<p class="credits">
			Copyright &copy; 2017<br/> Borah Software Solutions LLC
		</p>
	</div>
</footer>