.thumbnail{
    max-width: 200px;
    max-height: 115px;
    margin: auto;
}

.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.img-container{
    height: 130px;
     margin: 0 auto;
}

button{
  height:45px;
}

@media only screen and (max-width: 780px) {
  body{
    padding-bottom: 700px;
  }
}