html, body {
  height: 100%;
  margin: 0;
  padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  height: 100%;

}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
  position:fixed;
   left:0px;
   bottom:0px;
   height:60px;
   width:100%;
   background:#999;
}


.artist-statement{
	margin-top:100px;
}
