html, body {
  height: 100%;
  margin: 0;
  padding-top: 54px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  height: 100%;
}

nav{
	max-height: 52px;
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
  position:fixed;
   left:0px;
   bottom:0px;
   height:60px;
   width:100%;
   background:#999;
}


.artist-statement{
	margin-top:100px;
}


/*Submit FOrm Buttom  */
.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
}